/*Genel Biçimlendirme*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*header bölümü*/
body{
    min-height: 100vh;/*vh view height görülen alanın yüksekliği*/
    display: flex;
    flex-direction: column;/*içindeki nesnelerin hangi yönde yerleşeceği*/
    font-size: 125%;
    line-height: 1.5em;
}

header,footer{
    padding-top: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#main-menu{
    list-style: none;
    display: flex;
    justify-content: center; /*içindeki flex ögeleri ortalanır*/
}

#main-menu a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 10px;
}

/*orta bölüm*/
main{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex: auto;
}

#content{
    padding: 20px;
    background-color: #dedede;
    border: solid 2px #52565e;
    flex: 9;
}

 #content p{
    margin-bottom: 10px;
    margin-top: 5px;
 }

aside{
    padding: 20px;
    background-color: #d2acdd;
    border: solid 2px #52565e;
    flex: 3;
} 
 aside ul{
    list-style: none;
 }

 aside h2{
    margin-bottom: 10px;
 }

 aside a{
    color: #000;
 }

 footer{
    padding-bottom: 30px;
 }
